In [728]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


df= pd.read_excel('Antigüedad de saldos 17.03.2023.xlsx')
df

,No. CLIENTE,NOMBRE,FACTURA,FECHA_FACTURA,FECHA_VENCIMIENTO,MONTO ADEUDADO
0,6401,DONGA HWASUNG MEXICO,F40238,2023-02-24,2023-03-26,97485.94
1,6401,DONGA HWASUNG MEXICO,F40353,2023-03-14,2023-04-13,97485.94
2,4598,PROVEEDORA DE SEGURIDAD INDUSTRIAL DEL GOLFO,F40352,2023-03-14,2023-04-13,64916.21
3,3930,INDUSTRIAS LANCERMEX,F40217,2023-02-23,2023-03-25,52715.74
4,4712,HELVEX,F40173,2023-02-17,2023-04-03,50639.80
...,...,...,...,...,...,...
159,856,CENTRO DE INVESTIGACION Y DE ESTUDIOS AVANZADO...,F40055,2023-01-31,2023-01-31,56.00
160,5926,PÚBLICO EN GENERAL,NV00777,2023-03-07,2023-03-07,45.00
161,5926,PÚBLICO EN GENERAL,NV00778,2023-03-09,2023-03-09,40.00
162,5926,PÚBLICO EN GENERAL,NV00779,2023-03-09,2023-03-09,24.01
163,8429,FISHERS QUERETARO,F38248,2022-05-27,2022-05-27,19.94

In [729]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   No. CLIENTE        162 non-null    object
 1   NOMBRE             163 non-null    object
 2   FACTURA            163 non-null    object
 3   FECHA_FACTURA      163 non-null    datetime64[ns]
 4   FECHA_VENCIMIENTO  164 non-null    datetime64[ns]
 5   MONTO ADEUDADO     163 non-null    float64
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 7.8+ KB

In [730]:
filtro1=df[(df["NOMBRE"] == "INDUSTRIAS LANCERMEX")]
filtro1

,No. CLIENTE,NOMBRE,FACTURA,FECHA_FACTURA,FECHA_VENCIMIENTO,MONTO ADEUDADO
3,3930,INDUSTRIAS LANCERMEX,F40217,2023-02-23,2023-03-25,52715.74
12,3930,INDUSTRIAS LANCERMEX,F40114,2023-02-09,2023-03-11,35143.82

In [731]:
#filtro por filas
filtro2= df.iloc[3:10,: ]          #filas consecutivas
#filtro2= df.iloc[ [2,5], : ]        #filas no consecutivas
filtro2

,No. CLIENTE,NOMBRE,FACTURA,FECHA_FACTURA,FECHA_VENCIMIENTO,MONTO ADEUDADO
3,3930,INDUSTRIAS LANCERMEX,F40217,2023-02-23,2023-03-25,52715.74
4,4712,HELVEX,F40173,2023-02-17,2023-04-03,50639.80
5,1429,AUTOLIV STEERING WHEELS MEXICO,F39979,2023-01-24,2023-03-25,49416.00
6,1429,AUTOLIV STEERING WHEELS MEXICO,F40319,2023-03-08,2023-05-07,49416.00
7,5039,BUSSMANN,F40082,2023-02-04,2023-02-04,48882.12
8,644,CLAVOS NACIONALES C.N,F40340,2023-03-13,2023-05-12,45216.34
9,644,CLAVOS NACIONALES C.N,F40351,2023-03-14,2023-05-13,45216.34

In [732]:
filtro3= df.iloc[ : , [1,4,5]]        #columnas no consecutivas
filtro3

,NOMBRE,FECHA_VENCIMIENTO,MONTO ADEUDADO
0,DONGA HWASUNG MEXICO,2023-03-26,97485.94
1,DONGA HWASUNG MEXICO,2023-04-13,97485.94
2,PROVEEDORA DE SEGURIDAD INDUSTRIAL DEL GOLFO,2023-04-13,64916.21
3,INDUSTRIAS LANCERMEX,2023-03-25,52715.74
4,HELVEX,2023-04-03,50639.80
...,...,...,...
159,CENTRO DE INVESTIGACION Y DE ESTUDIOS AVANZADO...,2023-01-31,56.00
160,PÚBLICO EN GENERAL,2023-03-07,45.00
161,PÚBLICO EN GENERAL,2023-03-09,40.00
162,PÚBLICO EN GENERAL,2023-03-09,24.01
163,FISHERS QUERETARO,2022-05-27,19.94

In [733]:
df1= pd.read_excel('Antigüedad de saldos 17.03.2023.xlsx', index_col=1)
df1

,No. CLIENTE,FACTURA,FECHA_FACTURA,FECHA_VENCIMIENTO,MONTO ADEUDADO
NOMBRE,,,,,
DONGA HWASUNG MEXICO,6401,F40238,2023-02-24,2023-03-26,97485.94
DONGA HWASUNG MEXICO,6401,F40353,2023-03-14,2023-04-13,97485.94
PROVEEDORA DE SEGURIDAD INDUSTRIAL DEL GOLFO,4598,F40352,2023-03-14,2023-04-13,64916.21
INDUSTRIAS LANCERMEX,3930,F40217,2023-02-23,2023-03-25,52715.74
HELVEX,4712,F40173,2023-02-17,2023-04-03,50639.80
...,...,...,...,...,...
CENTRO DE INVESTIGACION Y DE ESTUDIOS AVANZADOS DEL INSTITUTO POLITECNICO NACIONAL,856,F40055,2023-01-31,2023-01-31,56.00
PÚBLICO EN GENERAL,5926,NV00777,2023-03-07,2023-03-07,45.00
PÚBLICO EN GENERAL,5926,NV00778,2023-03-09,2023-03-09,40.00
PÚBLICO EN GENERAL,5926,NV00779,2023-03-09,2023-03-09,24.01
FISHERS QUERETARO,8429,F38248,2022-05-27,2022-05-27,19.94

In [734]:
filtro4=df1.loc[["HELVEX","DONGA HWASUNG MEXICO"], ["MONTO ADEUDADO"]]
filtro4

                      MONTO ADEUDADO
NOMBRE
HELVEX                      50639.80
DONGA HWASUNG MEXICO        97485.94
DONGA HWASUNG MEXICO        97485.94
DONGA HWASUNG MEXICO        10759.00
DONGA HWASUNG MEXICO         9396.00

In [735]:
filtro5=df.head()
filtro5

,No. CLIENTE,NOMBRE,FACTURA,FECHA_FACTURA,FECHA_VENCIMIENTO,MONTO ADEUDADO
0,6401,DONGA HWASUNG MEXICO,F40238,2023-02-24,2023-03-26,97485.94
1,6401,DONGA HWASUNG MEXICO,F40353,2023-03-14,2023-04-13,97485.94
2,4598,PROVEEDORA DE SEGURIDAD INDUSTRIAL DEL GOLFO,F40352,2023-03-14,2023-04-13,64916.21
3,3930,INDUSTRIAS LANCERMEX,F40217,2023-02-23,2023-03-25,52715.74
4,4712,HELVEX,F40173,2023-02-17,2023-04-03,50639.80

In [736]:
filtro6=df.tail()
filtro6

,No. CLIENTE,NOMBRE,FACTURA,FECHA_FACTURA,FECHA_VENCIMIENTO,MONTO ADEUDADO
159,856,CENTRO DE INVESTIGACION Y DE ESTUDIOS AVANZADO...,F40055,2023-01-31,2023-01-31,56.00
160,5926,PÚBLICO EN GENERAL,NV00777,2023-03-07,2023-03-07,45.00
161,5926,PÚBLICO EN GENERAL,NV00778,2023-03-09,2023-03-09,40.00
162,5926,PÚBLICO EN GENERAL,NV00779,2023-03-09,2023-03-09,24.01
163,8429,FISHERS QUERETARO,F38248,2022-05-27,2022-05-27,19.94

In [737]:
filtro7=df[df["MONTO ADEUDADO"] < 70000]
filtro7

,No. CLIENTE,NOMBRE,FACTURA,FECHA_FACTURA,FECHA_VENCIMIENTO,MONTO ADEUDADO
2,4598,PROVEEDORA DE SEGURIDAD INDUSTRIAL DEL GOLFO,F40352,2023-03-14,2023-04-13,64916.21
3,3930,INDUSTRIAS LANCERMEX,F40217,2023-02-23,2023-03-25,52715.74
4,4712,HELVEX,F40173,2023-02-17,2023-04-03,50639.80
5,1429,AUTOLIV STEERING WHEELS MEXICO,F39979,2023-01-24,2023-03-25,49416.00
6,1429,AUTOLIV STEERING WHEELS MEXICO,F40319,2023-03-08,2023-05-07,49416.00
...,...,...,...,...,...,...
159,856,CENTRO DE INVESTIGACION Y DE ESTUDIOS AVANZADO...,F40055,2023-01-31,2023-01-31,56.00
160,5926,PÚBLICO EN GENERAL,NV00777,2023-03-07,2023-03-07,45.00
161,5926,PÚBLICO EN GENERAL,NV00778,2023-03-09,2023-03-09,40.00
162,5926,PÚBLICO EN GENERAL,NV00779,2023-03-09,2023-03-09,24.01
163,8429,FISHERS QUERETARO,F38248,2022-05-27,2022-05-27,19.94

In [738]:
filtro8= df[(df["MONTO ADEUDADO"] < 6000) & (df["FECHA_VENCIMIENTO"] == "2023-03-14")]
filtro8

,No. CLIENTE,NOMBRE,FACTURA,FECHA_FACTURA,FECHA_VENCIMIENTO,MONTO ADEUDADO
85,409,CONSTRUCCIONES ELECTROMECANICAS Y SERVICIOS IN...,F40359,2023-03-14,2023-03-14,4292.00
101,5926,PÚBLICO EN GENERAL,F40362,2023-03-14,2023-03-14,2694.95
113,2216,FRESCOPACK,F40355,2023-03-14,2023-03-14,1682.00
135,8872,GABRIELA GARCIA SANCHEZ,F40360,2023-03-14,2023-03-14,754.00
139,8228,UCH COMERCIAL,F40365,2023-03-14,2023-03-14,702.96

In [739]:
filtro9= df[(df["MONTO ADEUDADO"] < 6000) | (df["FECHA_FACTURA"] == "2023-03-14")]
filtro9

,No. CLIENTE,NOMBRE,FACTURA,FECHA_FACTURA,FECHA_VENCIMIENTO,MONTO ADEUDADO
1,6401,DONGA HWASUNG MEXICO,F40353,2023-03-14,2023-04-13,97485.94
2,4598,PROVEEDORA DE SEGURIDAD INDUSTRIAL DEL GOLFO,F40352,2023-03-14,2023-04-13,64916.21
9,644,CLAVOS NACIONALES C.N,F40351,2023-03-14,2023-05-13,45216.34
10,3937,RICHALUM,F40361,2023-03-14,2023-03-14,42880.05
36,417,COVEMEX,F40354,2023-03-14,2023-03-29,15843.28
...,...,...,...,...,...,...
159,856,CENTRO DE INVESTIGACION Y DE ESTUDIOS AVANZADO...,F40055,2023-01-31,2023-01-31,56.00
160,5926,PÚBLICO EN GENERAL,NV00777,2023-03-07,2023-03-07,45.00
161,5926,PÚBLICO EN GENERAL,NV00778,2023-03-09,2023-03-09,40.00
162,5926,PÚBLICO EN GENERAL,NV00779,2023-03-09,2023-03-09,24.01
163,8429,FISHERS QUERETARO,F38248,2022-05-27,2022-05-27,19.94

In [740]:
filtro10=df[~(df["FECHA_FACTURA"] == "2023-03-14")]
filtro10

,No. CLIENTE,NOMBRE,FACTURA,FECHA_FACTURA,FECHA_VENCIMIENTO,MONTO ADEUDADO
0,6401,DONGA HWASUNG MEXICO,F40238,2023-02-24,2023-03-26,97485.94
3,3930,INDUSTRIAS LANCERMEX,F40217,2023-02-23,2023-03-25,52715.74
4,4712,HELVEX,F40173,2023-02-17,2023-04-03,50639.80
5,1429,AUTOLIV STEERING WHEELS MEXICO,F39979,2023-01-24,2023-03-25,49416.00
6,1429,AUTOLIV STEERING WHEELS MEXICO,F40319,2023-03-08,2023-05-07,49416.00
...,...,...,...,...,...,...
159,856,CENTRO DE INVESTIGACION Y DE ESTUDIOS AVANZADO...,F40055,2023-01-31,2023-01-31,56.00
160,5926,PÚBLICO EN GENERAL,NV00777,2023-03-07,2023-03-07,45.00
161,5926,PÚBLICO EN GENERAL,NV00778,2023-03-09,2023-03-09,40.00
162,5926,PÚBLICO EN GENERAL,NV00779,2023-03-09,2023-03-09,24.01
163,8429,FISHERS QUERETARO,F38248,2022-05-27,2022-05-27,19.94

In [741]:
filtro10.to_csv("Enrtegable1.csv")

In [742]:
df= pd.read_excel('Detalle precios y productos fabricados 2022.xlsx')
df
#lee el archivo

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1421,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",712.00,102.31,102.31,4272.00,613.88,609.69,3658.12
1422,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",718.60,104.69,104.69,4311.60,628.12,613.91,3683.48
1423,F39835,2022-12-23,LETICIA RAMIREZ HERNANDEZ,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP",2182.35,0.00,596.55,6547.05,1789.64,1585.80,4757.41
1424,F39837,2022-12-23,LETICIA RAMIREZ HERNANDEZ,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT",5909.84,1884.35,1884.35,5909.84,1884.35,4025.49,4025.49
1425,F39838,2022-12-23,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45

In [743]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1426 entries, 0 to 1425
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CVE_DOC                    1426 non-null   object
 1   FECHA_DOC                  1426 non-null   datetime64[ns]
 2   NOMBRE_VENDEDOR            1424 non-null   object
 3   NOMBRE_CLIENTE             1426 non-null   object
 4   CANT                       1426 non-null   int64
 5   CVE_ART                    1426 non-null   object
 6   DESCR                      1426 non-null   object
 7   PRECIO_UNITARIO            1426 non-null   float64
 8   COSTO_UNITARIO             1426 non-null   float64
 9   COSTO_UNITARIO_CALCULADO   1426 non-null   float64
 10  SUBTOTAL_PARTIDA           1426 non-null   float64
 11  COSTO_TOTAL_CALCULADO      1426 non-null   float64
 12  MARGEN_UNITARIO_CALCULADO  1426 non-null   float64
 13  MARGEN_TOTAL_CALCULADO     1426 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(5)
memory usage: 156.1+ KB

In [744]:
filtro1a=df[(df["NOMBRE_VENDEDOR"] == "ALFREDO CANELA")]
filtro1a
#busca que el nombre del vendedor sea ALFREDO CANELA

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
18,F37061,2022-01-05,ALFREDO CANELA,ELICAMEX,5,WRE-2133,BAN MICA 120mmØx50mm 850W 440V TTORNILLO,821.30,0.00,78.70,4106.50,393.48,742.60,3713.02
19,F37061,2022-01-05,ALFREDO CANELA,ELICAMEX,7,WRE-2774,BAN MICA Ø120MM X 50 MM 700W 440V T TOR,821.30,0.00,75.77,5749.10,530.41,745.53,5218.69
20,F37061,2022-01-05,ALFREDO CANELA,ELICAMEX,3,WRE-4885,BAN INOX 36MMØX25MM 150W 240V EXT30CM,496.35,27.43,27.43,1489.05,82.29,468.92,1406.76
29,F37078,2022-01-07,ALFREDO CANELA,CLAVOS NACIONALES C.N,30,BOBINA001,BOBINA CAL.8 DSD C/TERMINALES EN INOX,1299.32,305.44,305.44,38979.60,9163.18,993.88,29816.42
30,F37083,2022-01-10,ALFREDO CANELA,PEDRO ANTONIO SOTO IBARRA,6,TUE00247,"TUB INOX 7/16""ØX490MM U ESP 3200W 220V",856.04,295.24,295.24,5136.22,1771.42,560.80,3364.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1405,F39812,2022-12-22,ALFREDO CANELA,CEREALES Y PASTAS,10,70001698,CARTUCHO ESC.Ø 8MM X 325 MM 500W 220V,488.00,107.33,107.33,4880.00,1073.25,380.67,3806.75
1407,F39815,2022-12-22,ALFREDO CANELA,START SERVICE,1,RP00230,REPARACION DE PLANCHA DE CARTUCHOS 220V,5668.99,0.00,1319.88,5668.99,1319.88,4349.11,4349.11
1408,F39815,2022-12-22,ALFREDO CANELA,START SERVICE,1,RP00231,REPARACION DE MAQUINA,2300.00,0.00,99.68,2300.00,99.68,2200.32,2200.32
1409,F39816,2022-12-22,ALFREDO CANELA,TOSTADAS FANNY,6,TUA00492,"TUB INOX 1/2""ØX40CM 4000W 220V ""M"" BUSH",2959.68,0.00,1186.76,17758.08,7120.54,1772.92,10637.54
1412,F39824,2022-12-23,ALFREDO CANELA,MEGO AFEK,1,TUA00325,"TUB INOX 1/2""ØX75CM ""U"" 30KW440V BRIDA6""",12500.00,4579.08,4579.08,12500.00,4579.08,7920.92,7920.92

In [745]:
filtro2a= df.iloc[3:10,: ]
filtro2a
#muestra la columna 3 y 10, sin alguna otra restriccion

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41
5,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00243,BAN P INOX 55MMX235MM 450W 127V T/TOR,237.07,49.41,49.41,474.14,98.82,187.66,375.32
6,F37044,2022-01-05,DIEGO ARMANDO LEON DURAN,AIRBUS HELICOPTERS MEXICO QUERETARO,1,RP00165,REPARACION DE BATIDOR 16.6KW 440V,14000.00,5323.76,5323.76,14000.00,5323.76,8676.24,8676.24
7,F37046,2022-01-05,LETICIA RAMIREZ HERNANDEZ,ANA BARBARA CRUZ PALACIOS,3,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,94.50,38.96,38.96,283.50,116.88,55.54,166.62
8,F37048,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA",1615.00,517.89,517.89,1615.00,517.89,1097.11,1097.11
9,F37049,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA",1615.00,517.89,517.89,1615.00,517.89,1097.11,1097.11

In [746]:
filtro3a= df.iloc[ : , [2,4,7]]        #columnas no consecutivas
filtro3a

                NOMBRE_VENDEDOR  CANT  PRECIO_UNITARIO
0     LETICIA RAMIREZ HERNANDEZ     1           434.48
1     LETICIA RAMIREZ HERNANDEZ     1          1264.05
2      DIEGO ARMANDO LEON DURAN     7           551.61
3      DIEGO ARMANDO LEON DURAN     1           140.00
4     LETICIA RAMIREZ HERNANDEZ     2           172.41
...                         ...   ...              ...
1421  LETICIA RAMIREZ HERNANDEZ     6           712.00
1422  LETICIA RAMIREZ HERNANDEZ     6           718.60
1423  LETICIA RAMIREZ HERNANDEZ     3          2182.35
1424  LETICIA RAMIREZ HERNANDEZ     1          5909.84
1425         AARON NUÑO CORDOVA    10          1406.00

[1426 rows x 3 columns]

In [747]:
df1= pd.read_excel('Detalle precios y productos fabricados 2022.xlsx', index_col=2)
df1

,CVE_DOC,FECHA_DOC,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
NOMBRE_VENDEDOR,,,,,,,,,,,,,
LETICIA RAMIREZ HERNANDEZ,F37034,2022-01-05,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
LETICIA RAMIREZ HERNANDEZ,F37036,2022-01-05,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
DIEGO ARMANDO LEON DURAN,F37041,2022-01-05,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
DIEGO ARMANDO LEON DURAN,F37042,2022-01-05,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
LETICIA RAMIREZ HERNANDEZ,F37043,2022-01-05,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...
LETICIA RAMIREZ HERNANDEZ,F39834,2022-12-23,LUIS ENRIQUE PATIÑO PEREZ,6,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",712.00,102.31,102.31,4272.00,613.88,609.69,3658.12
LETICIA RAMIREZ HERNANDEZ,F39834,2022-12-23,LUIS ENRIQUE PATIÑO PEREZ,6,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",718.60,104.69,104.69,4311.60,628.12,613.91,3683.48
LETICIA RAMIREZ HERNANDEZ,F39835,2022-12-23,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP",2182.35,0.00,596.55,6547.05,1789.64,1585.80,4757.41
LETICIA RAMIREZ HERNANDEZ,F39837,2022-12-23,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT",5909.84,1884.35,1884.35,5909.84,1884.35,4025.49,4025.49
AARON NUÑO CORDOVA,F39838,2022-12-23,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45

In [748]:
filtro4a=df1.loc[["DIEGO ARMANDO LEON DURAN"], ["PRECIO_UNITARIO"]]
filtro4a
#muestra las columnas donde aparecen los datos DIEGO ARMANDO DURAN Y PRECIO,COMPARANDO FILAS Y CLUMNAS

                          PRECIO_UNITARIO
NOMBRE_VENDEDOR
DIEGO ARMANDO LEON DURAN           551.61
DIEGO ARMANDO LEON DURAN           140.00
DIEGO ARMANDO LEON DURAN         14000.00
DIEGO ARMANDO LEON DURAN          1615.00
DIEGO ARMANDO LEON DURAN          1615.00
...                                   ...
DIEGO ARMANDO LEON DURAN          6300.00
DIEGO ARMANDO LEON DURAN          2750.00
DIEGO ARMANDO LEON DURAN           375.00
DIEGO ARMANDO LEON DURAN         14000.00
DIEGO ARMANDO LEON DURAN         14000.00

[120 rows x 1 columns]

In [749]:
filtro5a=df.head(6)
filtro5a
#MUESTRA LAS 5 PRIMERAS FILAS DEL ARCHIVO

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41
5,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00243,BAN P INOX 55MMX235MM 450W 127V T/TOR,237.07,49.41,49.41,474.14,98.82,187.66,375.32

In [750]:
filtro6a=df.tail(6)
filtro6a
#MUESTRA LAS ULTIMAS 5 FILAS DEL ARCHIVO

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
1420,F39833,2022-12-23,AARON NUÑO CORDOVA,TRILOGIQ-MEXICO,2,PT00079,PT-100 7.5MMØX95MM EXT.48CM 3H C/MACHO,1177.07,477.16,477.16,2354.14,954.32,699.91,1399.82
1421,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",712.00,102.31,102.31,4272.00,613.88,609.69,3658.12
1422,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",718.60,104.69,104.69,4311.60,628.12,613.91,3683.48
1423,F39835,2022-12-23,LETICIA RAMIREZ HERNANDEZ,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP",2182.35,0.00,596.55,6547.05,1789.64,1585.80,4757.41
1424,F39837,2022-12-23,LETICIA RAMIREZ HERNANDEZ,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT",5909.84,1884.35,1884.35,5909.84,1884.35,4025.49,4025.49
1425,F39838,2022-12-23,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45

In [751]:
filtro7a=df[df["PRECIO_UNITARIO"] < 123]
filtro7a
#BUSCA LAS FILAS DONDE EL PRECIO UNITARIO SEA MAYOR A 123

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
7,F37046,2022-01-05,LETICIA RAMIREZ HERNANDEZ,ANA BARBARA CRUZ PALACIOS,3,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,94.50,38.96,38.96,283.50,116.88,55.54,166.62
89,F37193,2022-01-26,LETICIA RAMIREZ HERNANDEZ,BESSER VACUUM AMERICA,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,98.00,38.96,38.96,98.00,38.96,59.04,59.04
93,F37214,2022-01-27,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,107.76,38.96,38.96,107.76,38.96,68.80,68.80
192,F37422,2022-02-18,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,119.83,38.96,38.96,239.66,77.92,80.87,161.74
307,F37612,2022-03-11,LETICIA RAMIREZ HERNANDEZ,GONZALO QUIJANO MARTINEZ,2,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,107.76,38.96,38.96,215.52,77.92,68.80,137.60
344,F37692,2022-03-22,LETICIA RAMIREZ HERNANDEZ,LAURA NIETO MORENO,2,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,94.50,38.96,38.96,189.00,77.92,55.54,111.08
346,F37695,2022-03-22,LETICIA RAMIREZ HERNANDEZ,MARIO ALBERTO RAMIREZ RAMIREZ,2,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,98.00,38.96,38.96,196.00,77.92,59.04,118.08
372,F37731,2022-03-25,LETICIA RAMIREZ HERNANDEZ,ESCALONA ANIMAL AND HUMAN,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,120.00,38.96,38.96,120.00,38.96,81.04,81.04
422,F37824,2022-04-04,LETICIA RAMIREZ HERNANDEZ,RENAL CARE DIALYSIS SOLUTIONS,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,120.09,42.79,42.79,120.09,42.79,77.30,77.30
489,F37951,2022-04-21,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,110.00,42.79,42.79,110.00,42.79,67.21,67.21
549,F38083,2022-05-04,LETICIA RAMIREZ HERNANDEZ,EMMANUEL SALINAS CHAVEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,120.12,42.79,42.79,120.12,42.79,77.33,77.33
676,F38364,2022-06-13,ALFREDO CANELA,DISPEL AE,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,94.50,42.79,42.79,94.50,42.79,51.71,51.71
926,F38836,2022-08-17,LETICIA RAMIREZ HERNANDEZ,REYES SANCHEZ JESUS AUGUSTO,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,120.00,48.20,48.20,120.00,48.20,71.80,71.80
1096,F39181,2022-09-29,LETICIA RAMIREZ HERNANDEZ,COMERCIAL ELECTRICA DALCO,10,CERAISON-14-28,CERAMICO OVALADO P/ ELEMENTO C-14- 2 BAR,6.54,6.00,6.00,65.35,60.00,0.54,5.35
1240,F39470,2022-11-01,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,120.00,48.20,48.20,120.00,48.20,71.80,71.80
1274,F39550,2022-11-11,LETICIA RAMIREZ HERNANDEZ,PLASTICOS Y EXTRUSIONES,5,TP0002,TERMOPAR J3/16 Ø X 1' 1/2 EXT. 1.5 MT,120.00,0.00,67.57,600.00,337.86,52.43,262.14
1286,F39574,2022-11-15,LETICIA RAMIREZ HERNANDEZ,AICEM,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,120.13,48.20,48.20,120.13,48.20,71.93,71.93

In [752]:
filtro8a= df[(df["PRECIO_UNITARIO"] < 123) & (df["FECHA_DOC"] == "2022-01-26")]
filtro8a
#BUSCA LAS FILAS DONDE EL PRECIO UNITARIO SEA MAYOR A 123 EN UNA FECHA ESPECIFICA

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
89,F37193,2022-01-26,LETICIA RAMIREZ HERNANDEZ,BESSER VACUUM AMERICA,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,98.0,38.96,38.96,98.0,38.96,59.04,59.04

In [753]:
filtro9a= df[(df["PRECIO_UNITARIO"] < 123) |  (df["FECHA_DOC"] == "05-01-2022")]
filtro9a
#BUSCA LAS FILAS DONDE EL PRECIO UNITARIO SEA MAYOR A 123 O EN UNA FECHA ESPECIFICA

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
7,F37046,2022-01-05,LETICIA RAMIREZ HERNANDEZ,ANA BARBARA CRUZ PALACIOS,3,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,94.50,38.96,38.96,283.50,116.88,55.54,166.62
89,F37193,2022-01-26,LETICIA RAMIREZ HERNANDEZ,BESSER VACUUM AMERICA,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,98.00,38.96,38.96,98.00,38.96,59.04,59.04
93,F37214,2022-01-27,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,107.76,38.96,38.96,107.76,38.96,68.80,68.80
192,F37422,2022-02-18,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,119.83,38.96,38.96,239.66,77.92,80.87,161.74
307,F37612,2022-03-11,LETICIA RAMIREZ HERNANDEZ,GONZALO QUIJANO MARTINEZ,2,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,107.76,38.96,38.96,215.52,77.92,68.80,137.60
344,F37692,2022-03-22,LETICIA RAMIREZ HERNANDEZ,LAURA NIETO MORENO,2,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,94.50,38.96,38.96,189.00,77.92,55.54,111.08
346,F37695,2022-03-22,LETICIA RAMIREZ HERNANDEZ,MARIO ALBERTO RAMIREZ RAMIREZ,2,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,98.00,38.96,38.96,196.00,77.92,59.04,118.08
372,F37731,2022-03-25,LETICIA RAMIREZ HERNANDEZ,ESCALONA ANIMAL AND HUMAN,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,120.00,38.96,38.96,120.00,38.96,81.04,81.04
422,F37824,2022-04-04,LETICIA RAMIREZ HERNANDEZ,RENAL CARE DIALYSIS SOLUTIONS,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,120.09,42.79,42.79,120.09,42.79,77.30,77.30
489,F37951,2022-04-21,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,110.00,42.79,42.79,110.00,42.79,67.21,67.21
549,F38083,2022-05-04,LETICIA RAMIREZ HERNANDEZ,EMMANUEL SALINAS CHAVEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,120.12,42.79,42.79,120.12,42.79,77.33,77.33
676,F38364,2022-06-13,ALFREDO CANELA,DISPEL AE,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,94.50,42.79,42.79,94.50,42.79,51.71,51.71
926,F38836,2022-08-17,LETICIA RAMIREZ HERNANDEZ,REYES SANCHEZ JESUS AUGUSTO,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,120.00,48.20,48.20,120.00,48.20,71.80,71.80
1096,F39181,2022-09-29,LETICIA RAMIREZ HERNANDEZ,COMERCIAL ELECTRICA DALCO,10,CERAISON-14-28,CERAMICO OVALADO P/ ELEMENTO C-14- 2 BAR,6.54,6.00,6.00,65.35,60.00,0.54,5.35
1240,F39470,2022-11-01,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,120.00,48.20,48.20,120.00,48.20,71.80,71.80
1274,F39550,2022-11-11,LETICIA RAMIREZ HERNANDEZ,PLASTICOS Y EXTRUSIONES,5,TP0002,TERMOPAR J3/16 Ø X 1' 1/2 EXT. 1.5 MT,120.00,0.00,67.57,600.00,337.86,52.43,262.14
1286,F39574,2022-11-15,LETICIA RAMIREZ HERNANDEZ,AICEM,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,120.13,48.20,48.20,120.13,48.20,71.93,71.93

In [754]:
filtro10a=df[~(df["FECHA_DOC"] == "05-01-2022")]
filtro10a
#BUSCA EN UNA FECHA ESPECIFICA

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1421,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",712.00,102.31,102.31,4272.00,613.88,609.69,3658.12
1422,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",718.60,104.69,104.69,4311.60,628.12,613.91,3683.48
1423,F39835,2022-12-23,LETICIA RAMIREZ HERNANDEZ,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP",2182.35,0.00,596.55,6547.05,1789.64,1585.80,4757.41
1424,F39837,2022-12-23,LETICIA RAMIREZ HERNANDEZ,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT",5909.84,1884.35,1884.35,5909.84,1884.35,4025.49,4025.49
1425,F39838,2022-12-23,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45

In [755]:
filtro1a.to_csv("Enrtegable1.csv")
filtro2a.to_csv("Enrtegable1.csv")
filtro3a.to_csv("Enrtegable1.csv")
filtro4a.to_csv("Enrtegable1.csv")
filtro5a.to_csv("Enrtegable1.csv")
filtro6a.to_csv("Enrtegable1.csv")
filtro7a.to_csv("Enrtegable1.csv")
filtro8a.to_csv("Enrtegable1.csv")
filtro9a.to_csv("Enrtegable1.csv")
filtro10a.to_csv("Enrtegable1.csv")